/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.appli-name{
    margin:0;
    padding-top: 5px;
}
#sectionAccueil{
    position:relative;
    top:300px;
}

#imgAccueil{
    transform: translate3d(-50%, 450px, 0px); 
    opacity: 1;
}
.noMarginBottom{
    margin-bottom:0;
}
.noMarginTop{
    margin-top:0;
}

.dropdown-content li > span{
    padding: 0 16px;
}

.bottomFixedFooter{
    position:fixed;
    bottom:0;
    width:100%;
}
withMarginBottom{
    margin-bottom: 100px;
}
.fixWidthModal{
    width:150px;
}
.chart-container{
    position: relative;
    height:50vh;
    width:70vw;
    margin: 20px auto;
}
#operationTable{
    margin-bottom: 70px;
}
@media screen and (min-width:991px) {
    .QuitterButton {
        position: absolute;
        top: 15px;
        right: 10%;
    }
    .RapportListeButton{
        position:absolute;
        top:15px;
        right:20%;
    }
}
@media screen and (max-width:990px){
    .btnAddMobile{
        position:fixed;
        bottom:25px;
        right: 25px;
    }
    .QuitterButton{
        position:absolute;
        top:15px;
        right:50px;
    }
}
@media screen and (min-width:601px){
    h1{
        font-size:3rem;
    }
    #LogoAppli{
        height:64px;
    }
    .parallax-container{
        height:100vh;
    }
    
}
@media screen and (max-width:600px)
{
    h1{
        font-size:2.5rem;
    }
    h2{
        font-size:2.0rem;
    }
    #LogoAppli{
        height:56px;
    }
    .parallax-container{
       height:100vh;
    }
    .QuitterButton{
        position:absolute;
        top:10px;
        right:10px;
    }
}
